@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --primary: #010101;
    --secondary: #F28C28;
}
/*
#00df9a
*/

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

#heading {
    color: var(--secondary);
}
#second-heading {
    font-size: smaller;
}

nav {
    position: fixed;
    width: 100%;
    background: var(--primary);
    color: white;
    font-size: 20px;
    z-index: 10;
}

.nav-container {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}


ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    color: var(--secondary);
}

.banner {
    position: fixed;
    color: white;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary);
    transition: ease-in;
    transition: all 1s;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page {
    height: 100vh;
    width: 100%;
    background-image: url('https://wallpaperaccess.com/full/2109.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    font-size: x-large;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#quote {
    max-width: 1240px;
    text-align: center;
}
.about-page {
    height: 100vh;
    width: 100%;
    background-color: var(--primary);
    color: white;
}
.about-container {
    max-width: 1240px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    gap: 2em;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    letter-spacing: 2px;
    transition: all 1s;
}

.contianer-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2em;
}
/*border: 1px solid var(--secondary);*/
.grid-item {
    padding: 1em;
    border-bottom: 1px solid var(--secondary);
    background-color: var(--primary);
    transition: all 1s;
    opacity: 0;
}
.grid-item:hover{
    transform: scale(1.1);
    z-index: 2;
    border-radius: 50px;
}

.last-container {
    grid-column: span 2;
}
.grid-in-view {
    opacity: 100;
    transition: all 1s;
}

.contact-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010101;
}

.form-container {
    max-width: 1240px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-size: 2em;
    padding: 4em 2em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5%;
    transition: all 1s;
    opacity: 0;
    

}

.in-view {
    opacity: 100;
}

#contact-header {
    text-align: center;
}

.input-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1px;


}

#submit-button {
    font-size: 1em;
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    transition: all 0.5s;
}

#submit-button:hover {
    transform: scale(1.1);
}

input {
    font-size: 1em;
    border-bottom-width: 1px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: var(--secondary);
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s;
    padding: 0 10px;
    color: white;

}

input::placeholder {
    color: white;
    opacity: 100;
}